.notice {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 14px;
}

.notice-info {
    background-color: #e7f3fe;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.notice-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}

.notice-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

